# Ansible runtime and backups
*.original
*.tmp
*.bkp
*.retry
*.*~
*.swp

# Try tyo avoid any plain-text passwords 
*pwd*
*pass*
*password*
*.txt

# Exclude all binaries
*.bin
*.jar
*.tar
*.zip
*.gzip
*.tgz

# General
.env
**.env**
.vscode/
.idea/
.DS_Store
