# Configuration managed by Ansible
server 169.254.169.123 prefer iburst minpoll 4 maxpoll 4
server 0.amazon.pool.ntp.org iburst
server 1.amazon.pool.ntp.org iburst
server 2.amazon.pool.ntp.org iburst
server 3.amazon.pool.ntp.org iburst